$beige200: #f4f0e9;
$beige100: #f9f7f4;
$black: #1b1f2b;
$gray400: #535252;
$gray300: #a6a6a6;
$gray200: #d9dfdb;
$green400: #286562;
$green300: #3b7e7b;
$white: #fff;
$main-font-family: roboto, arial, sans-serif;